.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        color: $primary-color;
        font-weight: 700;
    }

}

@media (max-width: 576px) {
    .perfil{
        text-align: center;
    }

    .perfil h2{
        text-align: center;  
    }
}